@use "../../style/variaveis" as variaveis;

#header {
  position: fixed;
  top: 0;
  background-color: variaveis.$third-color;
  
  font-size: 1em;
  font-family: variaveis.$primary-font;

  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 2fr 7fr 2fr;
  grid-template-areas: "l lk lc";
  height: 6.5em;
  width: 100%;

  #logo {
    grid-area: l;
    
    justify-content: center;
    align-items: center;
  }

  #links{
    grid-area: lk;

    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr 4fr;
    grid-template-areas: ". h g p s .";
    
    #dash{
        grid-area: g;
    }
    #home{
        grid-area: h;
    }
    #sobre{
        grid-area: s;
    }
    #prod{
        grid-area: p;
    }
  }

  #loginCadastro {
    grid-area: lc;
  }
}

.link{
    color: variaveis.$primary-color;
}

#login{
    color: black !important;
    grid-auto-flow: column;
}



svg{
    width: 20px;
    height: 20px;
}

#shoppingcart{
  width: 5em;
  height: 5em;
}
