@use "./_variaveis.scss" as variaveis;

a {
  text-decoration: none;
}

.centro{
  display: grid;
  justify-content: center;
}

html {
  margin: 0px;
  padding: 0px;
  font-family: variaveis.$primary-font;

  body {
    background-color: variaveis.$second-color;
    margin: 0px;
    height: 10rem;
    padding-top: 5em;
  }
}
